body{
	text-align: center;
	background-color:#e5e5ff;
}
.graph{
	border-color: black;
	border-style: solid;
	height:100%;
	width:100%;
	z-index:-1;
}
path{
	stroke:white;
	stroke-width:.25px;
	fill:#006600;
	z-index: 0;
	opacity: .5;
}
circle{
	z-index: 1;
	opacity:0.7;
}
div{
	color:white;
	background-color:#004c4c;
	padding:1%;
	border-radius:5px;
	position:absolute;
}
